.element--fadeup {
  animation-name: FADEUP;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: FADEUP;
  -webkit-animation-duration: 0.7s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: normal;
  -webkit-animation-timing-function: ease-in-out; }

@-webkit-keyframes FADEUP {
  from {
    transform: translateY(50%);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }
@-moz-keyframes FADEUP {
  from {
    transform: translateY(50%);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }
@-o-keyframes FADEUP {
  from {
    transform: translateY(50%);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }
@keyframes FADEUP {
  from {
    transform: translateY(50%);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }
.element--fadedown {
  animation-name: FADEDOWN;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: FADEDOWN;
  -webkit-animation-duration: 0.7s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: normal;
  -webkit-animation-timing-function: ease-in-out; }

@-webkit-keyframes FADEDOWN {
  from {
    transform: translateY(-50%);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }
@-moz-keyframes FADEDOWN {
  from {
    transform: translateY(-50%);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }
@-o-keyframes FADEDOWN {
  from {
    transform: translateY(-50%);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }
@keyframes FADEDOWN {
  from {
    transform: translateY(-50%);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }
.element--fadeleft {
  animation-name: FADELEFT;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: FADELEFT;
  -webkit-animation-duration: 0.7s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: normal;
  -webkit-animation-timing-function: ease-in-out; }

@-webkit-keyframes FADELEFT {
  from {
    transform: translateX(-50%);
    opacity: 0; }
  to {
    transform: translateX(0);
    opacity: 1; } }
@-moz-keyframes FADELEFT {
  from {
    transform: translateX(-50%);
    opacity: 0; }
  to {
    transform: translateX(0);
    opacity: 1; } }
@-o-keyframes FADELEFT {
  from {
    transform: translateX(-50%);
    opacity: 0; }
  to {
    transform: translateX(0);
    opacity: 1; } }
@keyframes FADELEFT {
  from {
    transform: translateX(-50%);
    opacity: 0; }
  to {
    transform: translateX(0);
    opacity: 1; } }
.element--faderight {
  animation-name: FADERIGHT;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: FADERIGHT;
  -webkit-animation-duration: 0.7s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: normal;
  -webkit-animation-timing-function: ease-in-out; }

@-webkit-keyframes FADERIGHT {
  from {
    transform: translateX(50%);
    opacity: 0; }
  to {
    transform: translateX(0);
    opacity: 1; } }
@-moz-keyframes FADERIGHT {
  from {
    transform: translateX(50%);
    opacity: 0; }
  to {
    transform: translateX(0);
    opacity: 1; } }
@-o-keyframes FADERIGHT {
  from {
    transform: translateX(50%);
    opacity: 0; }
  to {
    transform: translateX(0);
    opacity: 1; } }
@keyframes FADERIGHT {
  from {
    transform: translateX(50%);
    opacity: 0; }
  to {
    transform: translateX(0);
    opacity: 1; } }
#canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  pointer-events: none; }

body {
  padding: 0;
  margin: 0;
  width: 1707px;
  height: 1067px;
  position: relative; }

.section-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: none; }
  .section-wrapper.section--active {
    display: block; }

.card {
  width: 90%;
  height: 90%;
  position: absolute;
  left: calc(50% - (90% / 2));
  top: calc(50% - (90% / 2));
  background-color: tomato; }

.card1 {
  width: 50%;
  height: 50%;
  position: absolute;
  left: calc(50% - (50% / 2));
  top: calc(50% - (50% / 2));
  background-color: olive; }

/*# sourceMappingURL=styles.css.map */
