.dynamic-form{
  padding: 0;
  margin: 0;
  background: transparentize($theme-color, .3);
  display: block;
  position: relative;
  font-size: 0;

  & button {
    width: 90%;
    min-height: 150px;
    font-size: 70px;
    font-family: $bold-font;
    color: white;
    background-color: $theme-color;
    border-radius: 7px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    margin: 30px auto 0 auto;

    &:active{
      background-color: darken($theme-color, 10%);
    }
  }

  & > .question-area{
    width: 50%;
    height: 100%;
    color: white;
    font-size: 70px;
    font-family: $bold-font;
    flex-grow: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;

    & > #question{
      padding: 0 50px 0 50px;
      text-shadow: 0px 0px 10px darken($theme-color, 30%);
      text-align: center;
    }
  }

  & > #form-area{
    padding: 50px 0px 50px 0px;
    width: 50%;
    height: 100%;
    flex-grow: 1;
    display: inline-flex;
    flex-direction: column;
    font-size: 30px;
    background-color: white;
    overflow-y: scroll;
    box-sizing: border-box;
    // position: absolute;
    // right: 0;
    // top: 0;

    // -webkit-transition: width 0.5s ease-in-out, background-color 0.5s ease-in-out;
    //         transition: width 0.5s ease-in-out, background-color 0.5s ease-in-out;

    &:empty{
      // width: 100%;
      // background-color: transparentize(white, 1);
      background-color: white;

      &:before{
        content: '';
        width: 200px;
        height: 200px;
        background-color: transparent;
        border: solid 25px $theme-color;
        border-right-color: transparent;
        border-radius: 50%;
        box-sizing: border-box;
        position: absolute;
        top: calc(50% - (200px / 2));
        left: calc(50% - (200px / 2));
        filter: drop-shadow(0px 0px 10px lightgray);
        transform-origin: center;

        animation-name: ROTATE;
        animation-duration: 0.5s;
        animation-direction: normal;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        -webkit-animation-name: ROTATE;
        -webkit-animation-duration: 0.5s;
        -webkit-animation-direction: normal;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
      }
    }

    & > .dynamic-input-wrapper{
      height: 100%;
      min-height: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      // flex-shrink: 0;

      & > .radio-label{
        padding: 10px;
        width: 90%;
        min-height: 150px;
        font-size: 70px;
        font-family: $bold-font;
        color: white;
        background-color: $theme-color;
        border-radius: 7px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        border: none;
        margin: 0 auto;
        box-sizing: border-box;

        &:active{
          background-color: darken($theme-color, 10%);
        }
      }

      & > .checkbox-label{
        padding: 30px;
        width: 90%;
        color: silver;
        font-size: 50px;
        font-family: $bold-font;
        text-align: left;
        box-sizing: border-box;
        display: flex;
        align-items: center;

        &:not(:last-of-type){
          border-bottom: 3px solid silver;
        }

        -webkit-transition: color .2s ease-in-out;
                transition: color .2s ease-in-out;


        & > .toggle-box{
          margin-right: 30px;
          width: 80px;
          height: 80px;
          background-color: whitesmoke;
          border-radius: 7px;
          box-sizing: border-box;
          display: block;
          position: relative;
          flex-shrink: 0;

          -webkit-box-shadow: inset 0px 0px 20px 0px darken(whitesmoke, 20%);
             -moz-box-shadow: inset 0px 0px 20px 0px darken(whitesmoke, 20%);
                  box-shadow: inset 0px 0px 20px 0px darken(whitesmoke, 20%);

          &:before{
            content: "";
            width: 100px;
            height:60px;
            opacity: 0;
            border-left: 15px solid $theme-color;
            border-bottom: 15px solid $theme-color;
            box-sizing: border-box;
            position: absolute;
            top: calc((50% - (60px)) + 5px);
            left: calc((50% - (100px / 2)) + 5px);
            transform: rotate(-45deg);
            filter: drop-shadow(0px 0px 5px gray);

            -webkit-transition: opacity .2s ease-in-out;
                    transition: opacity .2s ease-in-out;
          }
        }

        &:active{
          color: #222;
        }
      }

      &:not(:first-of-type){
        margin-top: 30px;
      }
    }

    & > input[type="radio"]{
      display: none;
      &:checked + .dynamic-input-wrapper .radio-label{
        color: darken($theme-color, 40%);
        background-color: $theme-color;

        -webkit-box-shadow: none;
           -moz-box-shadow: none;
                box-shadow: none;
      }
    }

    & > input[type="checkbox"]{
      display: none;
      &:checked + .dynamic-input-wrapper .checkbox-label{
        color: $theme-color;

        -webkit-box-shadow: none;
           -moz-box-shadow: none;
                box-shadow: none;

        & > .toggle-box{
          &:before{
            opacity: 1;
          }
        }
      }
    }

  }
}
