@import "variables";
@import "transitions";
@import "background";

body{
  padding: 0;
  margin: 0;
  width: 1707px;
  height: 1067px;
  position: relative;
  color: #222;
  font-family: $default-font;
}

#title{
  font-size: 150px;
  font-family: $bold-font;
  letter-spacing: 10px;
}

.section-wrapper{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: none;

  &.section--active{
    display: block;
  }
}

.card{
  width: 90%;
  height: 90%;
  position: absolute;
  left: calc(50% - (90% / 2));
  top: calc(50% - (90% / 2));
  background-color: tomato;
}

.card1{
  width: 50%;
  height: 50%;
  position: absolute;
  left: calc(50% - (50% / 2));
  top: calc(50% - (50% / 2));
  background-color: olive;
}
