@import "transitions";

body{
  padding: 0;
  margin: 0;
  width: 1707px;
  height: 1067px;
  position: relative;
}

.section-wrapper{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.card{
  width: 90%;
  height: 90%;
  position: absolute;
  left: calc(50% - (90% / 2));
  top: calc(50% - (90% / 2));
  background-color: tomato;
}

.card1{
  width: 50%;
  height: 50%;
  position: absolute;
  left: calc(50% - (50% / 2));
  top: calc(50% - (50% / 2));
  background-color: olive;
}
