.input-container{
  padding: 40px 60px 40px 60px;
  display: flex;
  flex-direction: column;

  & > label{
    margin-top: 20px;
    font-size: 60px;
    color: $theme-color;
  }

  & > .input-field{
    display: flex;

    & > input{
      padding: 0;
      height: 150px;
      color: $theme-color;
      // background-color: #f2f2f2;
      font-size: 100px;
      text-align: center;
      border: none;
      border-bottom: solid 5px $theme-color;
      outline: none;

      &:focus{
        border-bottom-color: $theme-color;
      }
    }

    & > :first-child{
      // border-top-left-radius:  $border-radius;
      // border-bottom-left-radius: $border-radius;
      overflow: hidden;
    }

    & > :last-child{
      // border-top-right-radius: $border-radius;
      // border-bottom-right-radius:  $border-radius;
      overflow: hidden;
    }

    & > label{
      padding-left: 10px;
      padding-right: 40px;
      color: silver;
      // background-color: #f2f2f2;
      font-size: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: solid 5px $theme-color;
    }
  }

  & > .radio-field{
    display: flex;

    & > input{
      display: none;

      &:checked+label{
        color: white;
        background-color: $theme-color;
        border-color: $theme-color;
      }
    }

    & > label{
      height: 150px;
      color: $theme-color;
      background-color: #f2f2f2;
      font-size: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      border-right: none;
      border: solid 5px $theme-color;

      &:first-of-type{
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
      }

      &:not(:first-of-type){
        // border-left: solid 2px #f4f4f4;
      }

      &:last-of-type{
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }
    }
  }
}
