$anim-speed: .7s;
$offset: 50%;

//-----------
// Fade up
//-----------

.element--fadeup {
  animation-name: FADEUP;
  animation-duration: $anim-speed;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-timing-function: ease-in-out;

  -webkit-animation-name: FADEUP;
  -webkit-animation-duration: $anim-speed;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: normal;
  -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes FADEUP {
  from { transform: translateY($offset);
         opacity: 0;}
  to   { transform: translateY(0);
         opacity: 1;}
}
@-moz-keyframes FADEUP {
  from { transform: translateY($offset);
         opacity: 0;}
  to   { transform: translateY(0);
         opacity: 1;}
}
@-o-keyframes FADEUP {
  from { transform: translateY($offset);
         opacity: 0;}
  to   { transform: translateY(0);
         opacity: 1;}
}
@keyframes FADEUP {
  from { transform: translateY($offset);
         opacity: 0;}
  to   { transform: translateY(0);
         opacity: 1;}
}

//-----------
// Fade down
//-----------

.element--fadedown {
  animation-name: FADEDOWN;
  animation-duration: $anim-speed;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-timing-function: ease-in-out;

  -webkit-animation-name: FADEDOWN;
  -webkit-animation-duration: $anim-speed;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: normal;
  -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes FADEDOWN {
  from { transform: translateY(-$offset);
         opacity: 0;}
  to   { transform: translateY(0);
         opacity: 1;}
}
@-moz-keyframes FADEDOWN {
  from { transform: translateY(-$offset);
         opacity: 0;}
  to   { transform: translateY(0);
         opacity: 1;}
}
@-o-keyframes FADEDOWN {
  from { transform: translateY(-$offset);
         opacity: 0;}
  to   { transform: translateY(0);
         opacity: 1;}
}
@keyframes FADEDOWN {
  from { transform: translateY(-$offset);
         opacity: 0;}
  to   { transform: translateY(0);
         opacity: 1;}
}

//-----------
// Fade left
//-----------

.element--fadeleft {
  animation-name: FADELEFT;
  animation-duration: $anim-speed;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-timing-function: ease-in-out;

  -webkit-animation-name: FADELEFT;
  -webkit-animation-duration: $anim-speed;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: normal;
  -webkit-animation-timing-function: ease-in-out;

}

@-webkit-keyframes FADELEFT {
  from { transform: translateX(-$offset);
         opacity: 0;}
  to   { transform: translateX(0);
         opacity: 1;}
}
@-moz-keyframes FADELEFT {
  from { transform: translateX(-$offset);
         opacity: 0;}
  to   { transform: translateX(0);
         opacity: 1;}
}
@-o-keyframes FADELEFT {
  from { transform: translateX(-$offset);
         opacity: 0;}
  to   { transform: translateX(0);
         opacity: 1;}
}
@keyframes FADELEFT {
  from { transform: translateX(-$offset);
         opacity: 0;}
  to   { transform: translateX(0);
         opacity: 1;}
}

//-----------
// Fade right
//-----------

.element--faderight {
  animation-name: FADERIGHT;
  animation-duration: $anim-speed;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-timing-function: ease-in-out;

  -webkit-animation-name: FADERIGHT;
  -webkit-animation-duration: $anim-speed;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: normal;
  -webkit-animation-timing-function: ease-in-out;

}

@-webkit-keyframes FADERIGHT {
  from { transform: translateX($offset);
         opacity: 0;}
  to   { transform: translateX(0);
         opacity: 1;}
}
@-moz-keyframes FADERIGHT {
  from { transform: translateX($offset);
         opacity: 0;}
  to   { transform: translateX(0);
         opacity: 1;}
}
@-o-keyframes FADERIGHT {
  from { transform: translateX($offset);
         opacity: 0;}
  to   { transform: translateX(0);
         opacity: 1;}
}
@keyframes FADERIGHT {
  from { transform: translateX($offset);
         opacity: 0;}
  to   { transform: translateX(0);
         opacity: 1;}
}

//-----------
// Fade right
//-----------

.element--fadein {
  animation-name: FADEIN;
  animation-duration: $anim-speed;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-timing-function: ease-in-out;

  -webkit-animation-name: FADEIN;
  -webkit-animation-duration: $anim-speed;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: normal;
  -webkit-animation-timing-function: ease-in-out;

}

@-webkit-keyframes FADEIN {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-moz-keyframes FADEIN {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-o-keyframes FADEIN {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@keyframes FADEIN {
  from { opacity: 0; }
  to   { opacity: 1; }
}

//-----------
// Rotate
//-----------

.element--rotate {
  animation-name: ROTATE;
  animation-duration: $anim-speed;
  animation-direction: normal;
  animation-timing-function: ease-in-out;

  -webkit-animation-name: ROTATE;
  -webkit-animation-duration: $anim-speed;
  -webkit-animation-direction: normal;
  -webkit-animation-timing-function: ease-in-out;

}

@-webkit-keyframes ROTATE {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg);}
}
@-moz-keyframes ROTATE {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg);}
}
@-o-keyframes ROTATE {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg);}
}
@keyframes ROTATE {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg);}
}
